*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  background-color: #23252a;
}
.headerBlock{
  position: fixed;
top: 0;
z-index: 100;
width: 100%;
}
header {

  display: flex;
  margin-left: 251px;
  align-items: center;
  height: 60px;
  background-color: #23252a;
  position: relative;
  border-bottom: 0.1px solid rgba(65, 65, 81);
}

li,a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color:  #edf0f1;
  text-decoration: none;
}
.nav_links li {
 display: inline-block;
 padding-left: 10px;
 padding-right: 10px;

}
.nav_links a {
  transition: all .3s ease 0s;
}
.mal{

  display: flex;
  margin-left: 200px;
  margin: 0 0 0 auto;
  margin-right: 30px;
}

button {
  color:  #edf0f1;
  padding: 10px 5px;
  background-color: #3b3c4f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease 0s;

}
button:hover{
    background-color: #6d6dfc;
}
.molniya {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.userNameStatus {
  padding-left: 70px;
}
#status{
  color: rgba(37, 195, 137);
}
#Labelpro
{
  margin-left: 10px;
  background-color: #6d6dfc;
  border-radius: 5px;
}
.userAvatar {
  width: 50px;
  height: 50px;
  float: left
}
.User{
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  padding-left: 40px;
}

.menuVert {

  
  float: left;
  width: 250px;
  height: 1000px;
  background:rgba(49, 51, 67);
  border: none;
}
.logo {
  width:192px;
  height: 62px;
  border-bottom: 0.1px solid rgba(65, 65, 81);
}



#navVertMenu {
  display: block;


}
#navVertMenu, #navVertMenu ul {
    list-style:none;
    padding:0;
    width:250px;

}
#navVertMenu ul {
    position:relative;
    z-index:-1;
}
#navVertMenu li {
    position:relative;
    z-index:100;

}
#navVertMenu ul li {
    margin-top:-23px;
    -moz-transition:  0.4s linear 0.4s;
    -ms-transition: 0.4s linear 0.4s;
    -o-transition: 0.4s linear 0.4s;
    -webkit-transition: 0.4s linear 0.4s;
    transition: 0.4s linear 0.4s;
}
#navVertMenu li a {
    background-color: rgba(49, 51, 67);
    color:#edf0f1;
    display:block;
    font-size:16px;
    font-weight:bold;
    line-height:50px;
    outline:0;
    padding-left:20px;
    text-decoration:none;
}
#navVertMenu li a.sub {
    background:rgba(49, 51, 67) url("../image/down.gif") no-repeat;
}
#navVertMenu li a + img {
    cursor:pointer;
    display:none;
    height:28px;
    left:0;
    position:absolute;
    top:0;
    width:200px;
}
#navVertMenu li a img {
    border-width:0px;
    height:24px;
    line-height:50px;
    margin-right:8px;
    vertical-align:middle;
    width:24px;
}

#navVertMenu ul li a {

    color: #edf0f1;
    font-size:11px;
    line-height:22px;
}

#navVertMenu ul li a img {

    border-width:0px;
    height:16px;
    line-height:22px;
    margin-right:5px;
    vertical-align:middle;
    width:16px;
}


#navVertMenu a:focus ~ ul li {
    margin-top:0;
    -moz-transition:  0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linears;
    -webkit-transition: 0.4s linears;
    transition: 0.4s linear;
}
#navVertMenu a:focus + img, #navVertMenu a:active + img {
    display:block;
}

#navVertMenu a:active ~ ul li {
    margin-top:0;
}
#navVertMenu ul:hover {
    display:block;
}


.content{

  padding-top: 50px;
}

.Zagolovok {
  padding: 20px 20px 0 20px;
  color: #edf0f1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.1rem;
  padding-right: 40px;
}
.card {
    margin: 20px 20px 0 10px;
    width: 300px;
    height: 300px;
    color: #edf0f1;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.imgCard {

  border-radius: 5px 5px 0 0;
}
.imgBlockCard{
    position: relative;
   display: inline-block;
}
.imgBlockCard label {
  background-color: #6d6dfc;
   color: white;
   border-radius: 5px;
   position: absolute;
   left: 20px;
   top: 10px;

   font-size: 18px;
   padding: 3px 5px;
}
.container {
    padding: 2px 16px;
}
